form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .btnSub {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btnSub:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  /* table.component.css */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  width: 23%;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.addBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  height: 50px;
  width:  50px;
  font-size: 35px;
  background-color: #cccccc;
}


.circle-add {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  color: gray;
}